.LayoutL {
    max-width: 330px;
    height: 750px;
    background: rgba(38, 32, 114, 0.9);
    border-radius: 2%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.greenLine {
    width: 100%;
    height: 4px;
    background-color: rgba(0, 255, 147, 0.29);
    margin-top: 100px;
}

.greenBtn {
    padding: 20px;
}

.poket1 {
    position: absolute;
    z-index: 12;
    transform: translate(135px, 48px);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footerBtn {
    width: 145px;
    height: 56px;
    border-radius: 10px;
    border: 2px solid rgba(131, 90, 234, 0.4);
    background: rgba(34, 34, 75, 1);
    color: rgba(0, 255, 147, 1);
    font-size: 40px;
    font-family: 'Spicy Rice', sans-serif;
}